#Python
__pycache__/
*.py[cod]
*.pyo

#Virtual Environment
venv/
.venv/
env/

#Environment variables
.env

#IDE
.vscode/
.idea/

#OS
.DS_Store
Thumbs.db

#Alembic cache
*.pyc

#Pytest
.pytest_cache/

#Logs
*.log